body {
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
}

h5 {
  font-size: 16px;
}

.container {
  border: 2px solid;
  border-radius: 10px;
  background-image: linear-gradient(
    -225deg,
    #2cd8d5 0%,
    #c5c1ff 56%,
    #ffbac3 100%
  );
  padding: 10px;
  width: 600px;
  margin: 20px;
}

.searchCity,
.searchClick {
  border: 2px solid;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
}

.currentLocationButton {
  display: block;
  margin: -5px;
}

button {
  display: block;
  position: relative;
  right: 5px;
  top: 5px;
  border: 2px solid;
  border-radius: 10px;
  padding: 5px;
  color: black;
  background-color: white;
}

.currentWeatherForecast,
.futureWeatherForecast {
  margin-bottom: 20px;
  margin-top: 20px;
}

.currentWeatherForecast {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
}

.currentWeatherIcon {
  background: white;
  padding: 15px;
  height: 130px;
  width: 130px;
  border-radius: 65px;
}
.currentWeatherInformation {
  margin: 12px;
}
.celsiusLink,
.fahrenheitLink {
  font-size: 16px;
  position: relative;
  top: -20px;
}

.fahrenheitLink {
  margin-left: -5px;
}

.futureWeatherForecast {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.city,
.temperature,
.currentDay,
.currentCity,
.currentTime {
  text-align: center;
  margin: 0 auto;
}

.city {
  text-decoration: none;
  font-size: 40px;
}

.temperature {
  font-size: 40px;
}
.author {
  text-align: center;
  font-size: 10px;
  margin: 0;
}
